                body {
                    margin: 0px;              }              
                p {
                    font-family: Roboto, Arial;
                    color: #333;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .Header {
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    background-color: #f8f8f8;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin-left: 10px;
                    margin-right: 0px;
                    margin-top: 0px;
                    margin-bottom: 20px;
                    position: fixed;
                    top: 0;
                    left: 10px;
                    right:0;
                    
                }

                .Logo {
                    width: 100%;
                    
                }

                .Search {
                    width: 100%;
                    max-width: 400px;
                    border-radius: 16px;
                    padding: 8px 14px;
                    margin: 10px auto;
                    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
                    border: none;
                    font-size: 13px;
                    font-family: Roboto, Arial;
                    font-weight: 500;
                }
                .Search:focus {
                    outline: none;
                }

                .SearchButton {
                    background-color: rgb(255, 255, 255);
                    color: rgb(179, 179, 179);
                    padding: 8px 10px;
                    border: none;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: Roboto, Arial;
                    cursor: pointer;
                    margin: 10px;
                    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
                }

                .Section1 {
                    display: flex;
                    width: 200px;
                    justify-content: start;
                    margin-right: 20px;
                    padding: 5px;
                }

                .Section2 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                    margin-right: 20px;
                    max-width: 600px;
                    padding: 8px;
                }

                .Section3 {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    width: 300px; 
                    padding: 8px;                  
                }

                .Videos {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 20px;
                    row-gap: 40px;
                
                }

                .Thumbnail {
                    width: 100%;
                    height: auto;
                }


                .VideoDesc {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    column-gap: 5px;
                    margin-top: 10px;
                    
                }
            
                .ChannelLogo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .Title {
                    font-weight: 500;
                    color: #000;
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                .Author, .Stats {
                    color: #555;
                    font-size: 12px;
                    margin-bottom: 4px;
                }

                .Stats {
                    color: rgb(170, 170, 170);
                }