p {
    font-family: Montserrat;
    text-align: center;
}
.Delivery {
    text-decoration: underline; 
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s;
}

.Delivery:hover {
    opacity: 0.7;
}

.Montserrat {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 16px;
}

.Street1 {
    width: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
    vertical-align: top;
}

.Street2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-bottom: 20px;
    vertical-align: top;
}

.Street3 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: top;
}

.Street4 {
    width: 45px;
    object-fit: cover;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}

.Search {
    display: block;
    width: 400px;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:2px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 13px;
    font-family: Arial;
}

.Search:focus {
    outline: none;
}

.Tweet {
    width: 200px;;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    vertical-align: middle;
    font-size: 16px;
}

.Tweet:focus {
    outline: none;
}

.TweetButton {
    background-color: rgb(29, 161, 242);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.15s;
    vertical-align: middle;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.TweetButton:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

.TweetButton:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
}

.Name, .Email {
    display: block;
    margin-top: 10px;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
} 

.Name:focus, .Email:focus {
    outline: none;
}

.Google {
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

    
    