 p {
        margin: 0;
    }

    .Tahoma {
        font-family: Tahoma;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px
    }

    .Arial {
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        width: 396px;
        margin-bottom: 7px
    }

    .Verdana {
        font-family: Verdana;
        font-size: 20px;
        margin-bottom: 3px;
        text-align: center;
        font-weight: bold;
    }

    .Sales {
        color: red;
        font-family: Arial;
        font-size: 20px;
        font-weight: lighter;
        font-style:italic;
        margin-bottom: 20px
        
    }

    .Summary {
        font-family: Verdana;
        font-size: 15px;
        font-weight: lighter;
        margin-bottom: 20px;
        color: rgb(102, 101, 101);
        text-align: center;
    }

    .More {
        font-family: Verdana;
        font-size: 15px;
        font-weight: lighter;
        text-align: center;
    }  

    .More:hover {
        cursor: pointer;
        text-decoration: underline;
        color: rgb(61, 94, 238);
    }   